<h1><%= @project.name %></h1>
<p><%= @project.description %></p>

<% form_for @new_task, "/#{@project.token}/tasks" do |f| %>
  <%= f.text_field :name %>
  <%= f.submit '今日やる', name: 'today' %>
  <%= f.submit '明日やる', name: 'tomorrow' %>
  <%= f.submit 'いつかやる', name: 'someday' %>
<% end %>

<% {today: @today_tasks, tomorrow: @tomorrow_tasks, someday: @someday_tasks}.each do |type, tasks| -%>
  <div id="<%= type %>">
    <% tasks.each do | task | -%>
      <% form_for task, "/#{@project.token}/tasks/#{task.id}" do |f| %>
        <% if type == :today -%>
          <%= f.check_box :done %>
        <% end -%>
        <%= task.name %>
        <%= link_to '×', "/#{@project.token}/tasks/#{task.id}",
                        confirm: '削除してよろしいですか？', method: :delete %>
      <% end %>
    <% end -%>
  </div>
<% end -%>
